.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	text-align: center;

	width: 600px;
	height: 100px;
	border: 1px solid black;
}

.nums {
	position: relative;

	width: 600px;
	height: 21px;

	margin: 10px 0 0 0;
	overflow: hidden;
}

.num-box {
	position: absolute;
	top: 0px;
	

	width: 50px;
	height: 20px;

	line-height: 20px;
	color: black;
	display: inline-block;
}

.intention {
	position: relative;

	width: 600px;
	height: 21px;

	overflow: hidden;
}

.i-arrow, .j-arrow {
	position: absolute;
	top: 0;

	width: 50px;
	height: 21px;

	line-height: 21px;
}

.active {
	background-color: rgba(180, 210, 0, .3);
}

#btn {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid black;
	border-radius: 5px;
	width: 60px;
	height: 25px;

	background-color: rgba(128, 112, 38, .6);
}
